<meta property="og:site_name" content="pnzdevs.online">
<meta property="og:title" content="PNZ Devs" />
<meta property="og:url" content="https://pnzdevs.online/" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%} PNZ Devs - Tech consulting {%- endif -%}" />
<meta property="og:image" content='https://pnzdevs.online/images/logo.png' />
<meta name="twitter:card" content="summary_large_image">
