---
layout: default
pageClass: posts
templateEngineOverride: njk, md
---
<section class="blog-post">
  <time value="{{ item.date }}" class="text-gray-600">{{ date | readableDate }}</time>  - <h5 class="inline">{{ author }}</h5>
  <h1 class="heading">{{ title }}</h1>
  <div class="mb-4 text-lg font-semibold">
    {{ content | section | safe }}
  </div>
  <div>
    {{ content | section('remainder') | safe }}
  </div>
  <div class="mt-12 pt-4 text-gray-600 text-sm border-t border-gray-300">
    <p>
      Do you still have questions? Me too. <a href="mailto:pnzdevs@pnzdevs.online">Drop us a line</a>, we are happy to help.
    </p>
  </div>
</section>

