---
title: PNZ Devs - About
layout: default
---

<section>
  <h1 class="heading">What can we do for you?</h1>
  <p>
    PNZ Devs is here to make your projects real. We have experience in:
  </p>
  <ul>
    <li>Cross platform <a href="https://en.wikipedia.org/wiki/Mobile_app">mobile applications</a> for android and apple. We love <a href="https://ionicframework.com/">Ionic</a> & <a href="https://cordova.apache.org/">Cordova</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Web_development">Web development</a> - single page web applications</li>
    <li><a href="https://en.wikipedia.org/wiki/System_integration">Systems integrations</a> - to take full advantage of your favourite services</li>
    <li><a href="https://en.wikipedia.org/wiki/Web_designs">Web design</a>  - good design is good business</li>
  </ul>
  <p>
    We look for exiting ideas and people that want to make a change. <a href="mailto:pnzdevs@pnzdevs.online">Get in touch</a> if this is your case! 😉
  </p>
</section>

<section>
  <h1 class="heading">Who are we?</h1>
  <p>Grown together in between the mountains of the <a href="https://en.wikipedia.org/wiki/Cervo_Valley">Cervo Valley in northen Italy</a>, two old friends got together united by their passion for the code:</p>
  <ol>
    <li style="margin-left:0;padding-left:0;list-style:none"><img class="h-20 inline m-4" src="https://avatars2.githubusercontent.com/u/64172274?s=460&u=ff6bdf15e68c223a62a272b09eb067a3e127129f&v=4"><a href="https://github.com/andreapozza" target="_BLANK" rel="noopener">Andrea Pozza</a></li>
    <li style="margin-left:0;padding-left:0;list-style:none"><img class="h-20 inline m-4" src="https://avatars1.githubusercontent.com/u/61271589?s=460&u=fb947320ed8aa51777a5dd3db874a564f135fe8c&v=4"><a href="https://github.com/tiapnn" target="_BLANK" rel="noopener">Mattia Penna</a></li>
  </ol>
  <p>We got in the business when 14yrs old, making a blogspot site to post random memes and funny jokes.. We came a long way, now we can <code>code</code> pretty much anything!</p>
</section>

<section>
    <h1 class="heading" id="pnz">Why PNZ?</h1>
    <p>
      Our goal is to make your project triumph! Here's <a href="https://canaryenjoy.com">an example</a> of our latest successful project.
    </p>
    <img src="/images/logo.jpg" alt="The PNZ Devs Logo" class="w-24 mt-6">
  </section>
