---
title: PNZ Devs - Blog
metaDescription: The blog page of PNZ Devs. Archive of usefull programming tips
layout: default
---

<section>
  <h1 class="heading">Blog posts</h1>
  <p>
    All of these entries are here to assist any dev in need of a helping hand
  </p>
  <ul>
  {%- for item in collections.post | reverse -%}
  {% include 'components/post-teaser.njk' %}
  {%- endfor -%}
  </ul>
</section>
